<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geekshivam.i_cms">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="iCMS"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".i_CMS"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation_drawer"
            android:label="iCMS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".profile_activity" />
        <activity android:name=".Previous_complaints" />
        <activity android:name=".Developer" />
        <activity android:name=".Settings" />
        <activity android:name=".gridview1_new" />
        <activity android:name=".Contact" />
        <activity android:name=".gridview_2" />
        <activity android:name=".Active_complaints"></activity>
    </application>

</manifest>